/lib

# gradle
build
.gradle
.nb-gradle
.nb-gradle-properties

# native created when running
*.so
*.dll

# eclipse
/bin
.classpath
.project
.settings
.apt_generated
.factorypath

# crash
hs_err_pid*.log
